@import url('Constants.css');

.horizontal-window-box {
    display: flex;
    flex-direction: row;
    gap: 3.125rem;
    padding: 2rem;
}

.vertical-window-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.small-gap {
    gap: .3rem;
}

.messages {
    font-size: 1rem;
    width: 80%;
    height: 100%;
    
    overflow: auto;

    background-color: var(--button-blue);
    border: 2px solid var(--dark-blue);
    padding: 1rem;
    margin-top: 0.3rem;
    
    color: var(--dark-blue);
    border-radius: 5px;
}

#chat {
    height: 17rem;
}

#logo {
    padding-top: 2.125rem;
    padding-bottom: 2.125rem;
    height: 30%;
}

#logo > img {
    margin-bottom: 1.5rem;
}

.floating-box > form {
    width: 89%;
    box-sizing: border-box;
}

#chat-input-box {
    width: 100%;
}

#chat-input-box > input {
    width: calc(100% - 3.375rem);

    background-color: var(--light-blue);
    border: 2px solid var(--dark-blue);
    border-radius: 5px;
    line-height: 2rem;
    padding-left: .8rem;
    padding-right: .8rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    
    margin-top: .75rem;
    margin-right: .6rem;

    outline-style: none;
    box-shadow: none;
    
    color: var(--dark-blue);

    font-style: italic;
    font-weight: var(--bold-font-size);
    font-size: 1.125rem;
}

#chat-input-box > input::placeholder {
    color: var(--placeholder-blue);
}

#chat-input-box > button {
    width: 2.775rem;
    height: 3.375rem;

    background-color: var(--button-blue);
    border: 2px solid var(--dark-blue);
    border-radius: 5px;
    height: 3.188rem;
    line-height: 2rem;
    padding-left: .8rem;
    padding-right: .8rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    
    margin-top: .75rem;

    outline-style: none;
    box-shadow: none;
    
    color: var(--dark-blue);

    font-weight: var(--bold-font-size);
    font-size: 1.125rem;
}

#chat-input-box > button:hover, button:focus {
    cursor: pointer;
    background-color: var(--button-accent);
}

#surrender-button {
    margin-top: 1.25rem;
    width: 21rem;
}

.notifications {
    height: 16.5rem;

    overflow: hidden;
    padding: .625rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.moves {
    height: 12rem;
    overflow: hidden;
    padding: .625rem;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    scroll-behavior: smooth;

    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.moves-content {
    display: flex;
    flex-direction: column;
}

.moves::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.game-code {
    border: 2px solid var(--dark-blue);
    border-radius: 5px;
    padding: .6rem .9rem;
    width: 90%;
    margin-bottom: .625rem;
    font-size: 1.25rem;
    color: var(--dark-blue);
    background-color: var(--button-blue);
}

.move {
    border: 2px solid var(--dark-blue);
    border-radius: 5px;
    font-style: italic;
    padding: .6rem .9rem;
    width: 13rem;
    max-width: 20.938rem;
    margin-bottom: .625rem;
    font-size: 1.25rem;
    color: var(--dark-blue);
}

.move-white {
    background-color: var(--light-blue);
}

.move-black {
    background-color: var(--button-blue);
}

.board-container {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#board {
    aspect-ratio: 1 / 1;
    max-height: 40rem;
    display: grid;
    grid-template-columns: repeat(8, minmax(.2rem, 1fr));
    border: .3rem solid var(--dark-accent);
    border-radius: 0.3rem;
    align-self: center;
    filter: drop-shadow(5px 10px 5px #969696);
}

.board-square {
    aspect-ratio: 1 / 1;
    width: 100%;
    position: relative;
    display: flex;
}

.white {
    background-color: var(--bg-blue);
}

.black {
    background-color: var(--med-dark-blue);
}

.white:hover {
    background-color: var(--light-med-accent);
}

.black:hover {
    background-color: var(--dark-accent);
}

.selected {
    background-color: var(--selected);
}

.selected:hover {
    background-color: var(--selected-hover);
}

.board-piece {
    display: flex;
    justify-content: center;
    align-items: center;
}

.board-piece > img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.white-piece {
    background-color: white;
}

.black-piece {
    background-color: black;
}

.piece-row-text {
    position:absolute;
    top: .25rem;
    right: .5rem;
    color: white;
    font-size: 1.2rem;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.piece-column-text {
    position:absolute;
    left: .5rem;
    bottom: .25rem;
    color: white;
    font-size: 1.2rem;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.moves-content > div {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 640px) {
    .board-container {
    }

    .horizontal-window-box {
        /* Plot twist!!! */
        display: block;
        overflow-y: auto;
        padding: 0;
    }
    
    .vertical-window-box {
        overflow-y: auto;
        align-items: center;
        gap: .625rem;
    }
    
    #logo {
        display: none;
    }
    
    #chat {
        display: none;
    }
    
    .floating-box {
        padding: .5rem;
    }
    
    .floating-box > h1 {
        font-size: 1.4rem;
    }
    
    #board {
        width: 95%;
        grid-template-columns: repeat(8, minmax(.2rem, 1fr));
    }
    
    .notifications {
        height: 3rem;
    }
    
    .notifications .move:not(:first-child) {
        display: none;
    }
    
    #notify {
        margin-top: 1rem;
    }
    
    .move {
        font-size: 1rem;
        margin-bottom: .3rem
    }
    
    .moves-content {
        width: 100%;
    }
        
    .moves {
        height: 8.6rem;
        width: 90%;
    }
    
    #surrender-button {
        width: 50%;
        margin-top: 0;
        margin-bottom: 1rem;
    }
    
    .piece-row-text {
        font-size: 0;
    }
    
    .piece-column-text {
        font-size: 0;
    }

    /* All of this has to be duplicated to prevent CSS ordering issues when
    removing the hover white/black tiles */
    .white:hover {
        background-color: var(--bg-blue);
    }
    .black:hover {
        background-color: var(--med-dark-blue);
    }
    .selected {
        background-color: var(--selected);
    }
    .white {
        background-color: var(--bg-blue);
    }
    .black {
        background-color: var(--med-dark-blue);
    }
    .selected {
        background-color: var(--selected);
    }
    .selected:hover {
        background-color: var(--selected-hover);
    }
    
    .info-box {
        display: block;
    }
}

@media only screen and (min-width: 641px) and (max-width: 1281px) {
    .horizontal-window-box {
        /* Plot twist!!! */
        flex-direction: column;
        overflow-y: auto;
        gap: 2rem;
    }

    .vertical-window-box {
        /* Plot twist!!! */
        flex-direction: row;
        gap: 1rem;
        height: fit-content;
    }
    
    .right-box {
        align-items: flex-start;
    }
    
    .messages {
        font-size: 1rem;
        padding: .2rem;
    }
    
    #board-box {
        display: inline-flex;
        gap: 0;
        flex-direction: column;
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
    }
    
    #board {
        max-width: 32rem;
        grid-template-columns: repeat(8, minmax(.2rem, 1fr));
    }

    #chat-input-box {
        width: 100%;
    }

    #chat-input-box > input {
        width: 100%;

        font-weight: var(--bold-font-size);
        font-size: 1rem;
    }

    #chat-input-box > button {
        display: none;
    }
    
    .floating-box {
        height: 50%;
    }

    .floating-box > form {
        width: 100%;
    }
    
    .floating-box > h1 {
        font-size: 1.8rem;
    }
    
    #logo {
        height: 37%;
    }
    
    #logo > img {
        width: 75%;
        margin: .2rem;
    }
    
    .dashboard-banner > .floating-box {
        height: auto;
    }
    
    .notifications {
        height: 5.25rem;
    }

    .notifications .move:not(:first-child) {
        display: none;
    }
    
    .move {
        font-size: 1rem;
    }
    
    .game-code {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 1561px) {
    #board {
        max-height: 48rem;
    }
}