@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('Constants.css');

* {
    font-family: "Crimson Text", serif;
}

html, body, #app, #app>div {
  height: 100%;
  background-color: var(--bg-blue);
}


.bg {
    position: fixed;
    padding: 0;
    margin: 0;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-image: url("assets/dashboard_bg.png");
    background-color: var(--bg-blue);
    background-position: center center;
    background-repeat: repeat;
    
    filter: blur(.5rem);
}

.dashboard-banner {
    background-color: var(--light-blue);
    border-left: 5px solid var(--light-med-accent);
    border-right: 5px solid var(--light-med-accent);
    width: 50%;
    min-width: 46.875rem;
    height: 110vh;
    filter: drop-shadow(5px 5px 5px #969696);
}

.center-children {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.center-children > form {
    width: 100%;
    display: flex;
    justify-content: center;
}

#dashboard-logo {
    margin-bottom: 4rem;
    margin-top: 1rem;
    z-index: 1;
    max-width: 80%;
}

.floating-box {
    max-width: 26rem;
    width: 100%;
    height: 50%;
    border-radius: .3rem;
    border-color: #2B2B2B;
    border-width: .3rem;
    border-style: solid;
    
    margin-bottom: 1.25rem;
    
    background-color: var(--light-blue);

    padding: .9rem;
    filter: drop-shadow(5px 10px 5px #969696);
}

.floating-box > h1 {
    font-size: 2.8rem;
    text-align: center;
    color: var(--dark-blue);
    font-weight: var(--bold-font-size);
    padding: 0;
    margin: 0;
}

.floating-box > hr {
    border: none;
    background-color: var(--med-accent);
    color: var(--med-accent);
    height: 5px;
    width: 100%;
}

.floating-box > input {
    width: 100%;
    background-color: var(--light-blue);
    border: 2px solid var(--dark-blue);
    line-height: 2rem;
    padding-left: .8rem;
    padding-right: .8rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    
    margin-top: .75rem;

    outline-style: none;
    box-shadow: none;
    
    color: var(--dark-blue);

    font-style: italic;
    font-weight: var(--bold-font-size);
    font-size: 1.125rem;

    filter: drop-shadow(5px 5px 5px #969696);
}

.floating-box > input::placeholder {
    color: var(--placeholder-blue);
}

.dashboard-banner > form > .floating-box {
    height: auto;
}

.dashboard-banner > .floating-box {
    height: auto;
}


.info-box {
    display: inline-block;
}

.blue-button {
    background-color: var(--button-blue);
    border: 2px solid var(--dark-blue);
    height: 3.188rem;
    line-height: 2rem;
    padding-left: .8rem;
    padding-right: .8rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    
    margin-top: .75rem;

    outline-style: none;
    box-shadow: none;
    
    color: var(--dark-blue);

    font-weight: var(--bold-font-size);
    font-size: 1.125rem;

    filter: drop-shadow(5px 5px 5px #969696);
}

.blue-button:hover, .blue-button:focus {
    cursor: pointer;
    background-color: var(--button-accent);
}

.floating-box > button {
    width: 100%;
}

.floating-box > .blue-widget {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--button-blue);
    border: 2px solid var(--dark-blue);
    padding: 1rem;
    
    color: var(--dark-blue);

    font-weight: var(--bold-font-size);
    font-style: italic;

    filter: drop-shadow(5px 5px 5px #969696);
}

.floating-box > .big-widget {
    font-size: 1.938rem;
    line-height: 2rem;
    height: 3.188rem;
    padding: 0;
}

.floating-box > p {
    text-align: center;
    font-size: 1.2rem;
    color: var(--dark-blue);
    margin-top: .625rem;
    margin-bottom: .625rem;
    font-weight: var(--bold-font-size);
}

.floating-box > .tip-box {
    text-align: center;
    font-size: 1.2rem;
    color: var(--med-blue);
    margin-top: .625rem;
    margin-bottom: .625rem;
    font-weight: var(--bold-font-size);
    font-style: italic;
}

form {
    z-index: 1;
}

@media only screen and (max-width: 640px) {
    #dashboard-logo {
        width: 75%;
        margin-top: 0;
        margin-bottom: 5rem;
    }

    .dashboard-banner {
        min-width: 100%;
        background-color: transparent;
        border-left: 0 solid var(--light-med-accent);
        border-right: 0 solid var(--light-med-accent);
    }
    
    form {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .floating-box {
        width: 75%;
    }
    
}

@media only screen and (min-width: 641px) and (max-width: 1281px) {
    .dashboard-banner {
        min-width: 35rem;
    }
}